<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Блоги</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header th:insert="blocks/header :: header"></header>
    <h1>Главная страница</h1>
    <p>«Блоги» - хранится информация о пользователях (логин, ФИО) и их записях (заголовок, текст, автор, дата).
		Приложение должно позволять:<br>
		1. Добавлять информацию о блогерах и новых записях.<br>
		2. Изменять содержимое записи.<br>
		3. Удалять выбранную запись и весь блог целиком (удаление учетной
		записи пользователя со всеми записями).<br>
		4. Выводить все записи во всех блогах за выбранную дату.<br>
		5. Выводить список авторов, отсортированный по количеству записей
		в базе, написанных данным автором. </p>
</body>
</html>