<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Блог</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>
    <h1>Страница управления базой пользователей</h1>
    <h2>Добавление пользователя</h2>
    <form action="users-editor/add" name="addform" method="post" enctype="multipart/form-data">
			<input id="username" placeholder="Логин" name="login" type="text" />
			<input id="fullname" placeholder="ФИО" name="fullName" type="text" />
			<input type="button" value="Добавить" onclick="addUser('username', 'fullname');">
    </form>
    	<h2>Таблица пользователей:</h2><br> 
		   <div th:each="user : ${users}" id="usersList"></div>
		<input type="button" value="Обновить" onclick="fillTable()">
	<script src="js/ajax.js"></script>
</body>
</html>